@import "../variables.scss";

ol,
li {
  margin: 0;
  padding: 0;
  color: $color-secondary;
}

.timeline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  &:after {
    content: "";
    display: block;
    width: 3px;
    height: calc($timeline-item-height * ($timeline-item-count - 1));
    background-color: $color-primary;
    position: absolute;
  }

  &.animate:after {
    animation: fill-timeline 2s;
  }
}

.timeline-element {
  list-style-type: none;
  position: relative;
  cursor: pointer;
  height: $timeline-item-height;

  &:last-child {
    height: 0;
  }

  &.animate:after {
    animation-name: fill-circle;
  }

  &:after {
    content: "";
    display: block;
    border-radius: 50%;
    background-color: $color-background;
    border: 2px solid $color-primary;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 0;
    transform: translateX(calc(-50% + 1px));
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

  @for $i from 1 through 3 {
    &:nth-child(#{$i}):after {
      animation-delay: if($i == 1, 0s, $i * 0.4s);
    }
  }

  span {
    position: absolute;
    left: 2rem;
    top: 0;
    transform: translateY(-1.4rem);
    display: inline-block;
    text-align: center;
    width: 5rem;
    text-align: left;

    @media (min-width: 1024px) {
      width: 15rem;
    }
  }

  &:nth-child(2) span {
    transform: translate(-100%, -1.4rem);
    text-align: right;
    left: -2rem;
  }
}

@keyframes fill-timeline {
  0% {
    height: 0%;
  }
  100% {
    height: calc($timeline-item-height * ($timeline-item-count - 1));
  }
}

@keyframes fill-circle {
  0% {
    background-color: $color-background;
  }
  100% {
    background-color: $color-primary;
  }
}
