$color-primary: #4af626;
$color-secondary: #fff;
$color-background: #000;

// Animated Typed Intro Text
.animated-text {
  width: 16ch;
  animation: typing 2.5s steps(16), blink 1s infinite step-end;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1ch solid $color-primary;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

// Link styling
.link {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: $color-primary;
  bottom: -2px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.link.link-invert {
  color: $color-primary;
}

.link.link-invert::before {
  background-color: white;
}
