@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: #000;
}

body {
  height: 100%;
  color: rgb(var(--foreground-rgb));
}

.section {
  background-color: #000;
}

/* Responsive styles */

@layer base {
  html {
    font-size: 12px;
  }

  @screen md {
    html {
      font-size: 14px;
    }
  }

  @screen lg {
    html {
      font-size: 16px;
    }
  }

  @screen xl {
    html {
      font-size: 18px;
    }
  }
}

@layer utilities {
  .clip-path-trapezium {
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%);
  }
}

.fp-watermark {
  display: none;
}

.section .fp-slides {
  height: 80vh;
  width: 80vw;
}

div.fp-arrow.fp-prev,
div.fp-arrow.fp-next {
  border-width: inherit;
  width: 40px;
  height: 40px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotate(-45deg);
  left: 40px;
}

div.fp-arrow.fp-next {
  transform: rotate(135deg);
  right: 40px;
  left: unset;
}

@media (max-width: 768px) {
  div.fp-arrow.fp-next {
    right: -25px;
    width: 20px;
    height: 20px;
  }

  div.fp-arrow.fp-prev {
    left: -25px;
    width: 20px;
    height: 20px;
  }
}
