@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: #000;
}

body {
  height: 100%;
  color: rgb(var(--foreground-rgb));
}

.section {
  background-color: #000;
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url("/images/bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Responsive styles */

@layer base {
  html {
    font-size: 12px;
  }

  @screen md {
    html {
      font-size: 14px;
    }
  }

  @screen lg {
    html {
      font-size: 16px;
    }
  }

  @screen xl {
    html {
      font-size: 18px;
    }
  }
}

@layer utilities {
  .clip-path-trapezium {
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%);
  }
}

.fp-watermark {
  display: none;
}

.section .fp-slides {
  height: 80vh;
  width: 80vw;
}

@media (max-width: 768px) {
  div.fp-arrow.fp-next {
    border-width: 16.5px 0 16.5px 13px;
    right: -20px;
  }

  div.fp-arrow.fp-prev {
    border-width: 16.5px 13px 16.5px 0;
    border-color: transparent #fff transparent transparent;
    left: -20px;
  }
}
