.link {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: #4af626;
  bottom: -2px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.link.invert {
  color: #4af626;
}

.link.invert::before {
  background-color: white;
}

.headline {
  position: relative;
  padding-left: 20px;
}

.headline::before {
  content: "";
  height: 100%;
  width: 5px;
  left: 0;
  position: absolute;
  background-color: white;
}

@media (min-width: 1024px) {
  .profile {
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%);
  }
}

.animatedText {
  width: 16ch;
  animation: typing 2.5s steps(16), blink 1s infinite step-end;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1ch solid #4af626;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
